__pycache__/
*.py[cod]
*$py.class
.git/
.github/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/
tests/
dist/
build/

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.env
.venv/
.idea/
.vscode/
*.service
docker-compose.yml
docker-compose.portainer
heroku.yml
Makefile

# Ignore all files under drm folder
mediaflow_proxy/drm/*

# Unignore specific files
!mediaflow_proxy/drm/__init__.py
!mediaflow_proxy/drm/decrypter.py
